/* Override this file with custom rules */

body {
  font-size: 16px;
}

#content {
  margin: 10px;
}

#filecontents {
  margin: 35px;
}

p {
  width: 60%;
}

h1 {
  font-size: 2em;
  color: #621;
}

ul.class {
  font-size: 0.8em;
}

ul.file {
  font-size: 1.1em;
}

